@{
    ViewData["Title"] = "Accueil 'Happy Smile' :)";
}

<form asp-controller="Home" asp-action="Smile" method="post">
    <div class="row">
        <div class="hf-smileycontainer">
            <button type="submit" class="fa fa-smile-o hf-bigsmiley btn btn-success" formaction="Home/Smile" />
            <button type="submit" class="fa fa-frown-o hf-bigsmiley btn btn-danger" formaction="Home/UnhappySmile" />
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 20px">
        <p>You are <b>@Model.SmileUpCount</b> happy people :) and <b>@Model.SmileDownCount</b> people that will become happy soon !</p>
    </div>
</form>
